* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  scrollbar-width: none;
}

:root {
  --cor-1: #240046;
  --cor1: #03045e;
  --cor2: #023e8a;
  --cor3: #0077b6;
  --cor4: #00b4d8;
  --cor5: #90e0ef;
}
#menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  height: 100%;
}
#logo {
  width: 50px;
  height: auto;
}
.teste {
 
  color: aliceblue;
  border-radius: 5px;
  background-color: transparent;
  border: none;
  padding: 2px;
}
.box{
  width: 200px;
  height: 200px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  background-color: rgba(0, 0, 0, 0.7);
  padding: 15px;
}
.box-circle svg{
  width: 200px;
  height: 2000px;
  position: relative;
}
circle{
  width: 150px;
  height: 150px;
  fill : none;
  stroke: #000003;
  stroke-width: 10;
  transform: translate( 15px,15px);
  stroke-dasharray: 440;
  stroke-dashoffset: 440;
}
circle:nth-child(1){
  stroke-dashoffset: 0;
  stroke: rgb(202, 200, 200);
}
circle:nth-child(2){
  stroke: #00b34c;
  transition: strokeDashoffset, 1000ms;
}
.number{
  position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
}

.btnHead {
  text-align: center;
  justify-content: center;
  width: 100px;
  height: 100%;
  color: aliceblue;
  background-color: #03055e6e;
  border: none;
  padding: 2px;
  margin-right: 2px;
}
.btnHead:hover {
  background-color: #240046;
  transition: 0.30s;
}

#head {
  background-color: #111111;
  width: 100%;
  height: 72px;
}
.img-menu {
  width: 20px;
  height: auto;
}
.alinhamento-menu {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
}

#cro {
  
  padding-top: 30vh;
  height: 95vh;
  text-align: center;
  margin: auto;
  background-color: #111625;
  color: azure;
  display: block;
}
#time {
  font-size: 5em;
  padding-bottom: 20px;
}
.inputTimerDiv{
  padding-bottom: 20px;
  
}

#stop-btn {
  border: unset;
  width: 100px;
  height: 50px;
  display: block;
  margin: auto;
  border-radius: 30px;
  background-color: #ca1444;
  font-size: larger;
  color: white;
}
#start-btn {
  border: none;
  width: 100px;
  height: 50px;
  margin: auto;
  border-radius: 30px;
  background-color: #00b34c;
  font-size: larger;
  color: white;
}
#start-btn-cinza{
  border: none;
  width: 100px;
  height: 50px;
  margin: auto;
  border-radius: 30px;
  background-color: #838383e7;
  font-size: larger;
  color: white;
}
#reset-btn {
  display: block;
  margin: 20px;
  border: none;
  width: 100px;
  height: 50px;
  margin: auto;
  border-radius: 30px;
  background-color: #b30000;
  font-size: larger;
  color: white;
}
.alinhamento {
  margin: auto;
  width: 30%;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  column-gap: 10px;
}
.InputNumbertimer{
  text-align: right;
  width: 1.5em;
  height: 1em;
  font-size: 5em;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 5px;
}

@media screen and (max-width: 700px){
  .alinhamento {
    margin: auto;
    width: 55%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    column-gap: 10px;
  }
  }
